.hypothesis/
stitch/
.kiro/
.idea/
.junie/
.vscode/
*.db
*.db-shm
*.db-wal
supporting_files/
*.bin
lagosfile.egg-info/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.env
*.DS_Store
*.egg-info/
/docs
